:root[data-theme="light"] {
  --base: #fafafa;
  --base-2: #ffffff;
  --base-3: #ececec;
  --base-4: #d8d8d8;

  --text: #222;

  --code: #dddddd;
  --code-text: #004b66;

  --red: #c92c2c;
  --accent: #0077cc;
  --green: #4f7f3a;

  --accent-complementary: #b56b00;

  --theme-icon-filter: invert(0);

  color-scheme: light;
}
