<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
	{% if title %}
	<title>{{ title }} - {{ site.title | safe }}</title>
	{% else %}
	<title>{{ site.title | safe }}</title>
	{% endif %}

  <link rel="stylesheet" href="{{ "/assets/css/main.css" | url }}">

  {% for theme in themeStylesheets() %}
  <link rel="stylesheet" href="{{ theme | url }}">
  {% endfor %}

  <script src="/assets/js/main.js" defer></script>
  <script src="/assets/js/theme_switch.js" defer></script>
  <script src="/assets/js/dyslexic.js" defer></script>
  <script>
  (() => {
    const theme = localStorage.getItem("theme");
    if (theme) {
      document.documentElement.dataset.theme = theme;
    }
  })();
  </script>

  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/base16/mocha.min.css"> -->
	<link rel="stylesheet" href="{{ "/assets/css/hjs.css" | url}}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>

  <script>hljs.highlightAll();</script>
</head>
<body>
	<main>
    <header>
      <a href="/">
        <h1>{{ site.title }}</h1>
      </a>

      <div class="header-right">
      <button id="theme-toggle" aria-label="Toggle theme">
        <img id="theme-icon" alt="" width="20" height="20">
      </button>
      <button
        id="font-toggle"
        aria-label="Toggle OpenDyslexic"
        title="Toggle OpenDyslexic"
      >
        Aa
      </button>

        {% include "nav.njk" %}
      </div>
    </header>
		{% block content %}{% endblock %}
    <footer>
      <div class="social">
        {%- for s in site.footerLinks -%}
          <a href="{{ s.href }}" target="_blank">{{ s.name }}</a>
        {%- endfor -%}
      </div>
    </footer>
	</main>
</body>

</html>
