.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: var(--code-text);
  background: var(--code);
}

.hljs-comment,
.hljs-quote,
.hljs-operator {
  color: var(--base-4);
  font-style: bold;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-function,
.hljs-meta {
  color: var(--accent);
}

.hljs-string,
.hljs-attr {
  color: var(--green);
}

.hljs-number,
.hljs-literal,
.hljs-type,
.hljs-title.class_ {
  color: var(--accent-complementary);
}

.hljs-title,
.hljs-section {
  color: var(--code-text);
}

.hljs-variable,
.hljs-template-variable,
.hljs-built_in,
.hljs-property {
  color: var(--red);
}
