:root {
  --font-body: "Monaspace Krypton", monospace;
  --font-size: 16px;
}

:root[data-font="dyslexic"] {
  --font-body: "OpenDyslexic", sans-serif;
  --font-size: 14px;
}

body {
  font-family: var(--font-body);
  font-size: var(--font-size);
}

@font-face {
  font-family: "Monaspace Krypton";
  src: url("/assets/fonts/MonaspaceKrypton-Regular.otf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Monaspace Krypton";
  src: url("/assets/fonts/MonaspaceKrypton-Bold.otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OpenDyslexic";
  src: url("/assets/fonts/OpenDyslexic-Regular.otf");
}
