<div class="side-block">
  <img
    src="https://github.com/Nykenik24.png"
    alt="My GitHub profile picture"
    class="profile-pic"
  />
  <p>
    <span class="disabled">username</span>: Nykenik24
    <br />
    <span class="disabled">status</span>: Unknown
    <br />
    <span class="disabled">vitals</span>: Most likely fine
  </p>
  <h3>About me</h3>
  <hr />
  <p>
    I am Nykenik, a hobby programmer with interest for low-level systems,
    languages and game development. I love languages like C, C++ and Go and use
    NeoVim + Linux.
  </p>
</div>
